
/**
 * Mixins
 */
/**
 * Mixin - Font-weight
 */
font = unquote("'Montserrat', sans-serif")
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
/**
 * Mixin - Viewport
 */
viewport = 1130px
/**
 * Mixin - Responsive
 * @media (max-width screen-sm-min)
 * @media (max-width screen-md-min)
 * @media (max-width screen-lg-min)
 */
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px

/*
 * Global
 * Elementos globais que podem ser extendidos ao longo do documento
 */
.container
    min-width: 0
    max-width: viewport
    margin: 0 auto
    width: auto

@media (min-width: 993px)
    .wrapper-container
        padding-top: 180px

/*
 * Base
 * Estilo base do elementos do Html
 */
body
    font: normal regular 16px / 1.2 font

.header, .main-container, .footer
    max-width: 100%
    width: viewport
    margin: 0 auto

.main-container
    .cms-home &
        width: 100%

@media (min-width: 993px)
    .wrapper
        padding: 0

/*
 * Components
 * Componentes que se adaptam ao contexto
 */
/*
 * Component - Menssagens
 */
.messages
    > li
        display: block
        padding: 10px 20px
        margin-bottom: 20px
        font-size: 14px

    .success-msg
        border: 1px solid #2baf60
        background: #c8efc0
        color: #1d904b

    .error-msg
        border: 1px solid #d92100
        background: #ffdcdc
        color: #d92100

    .notice-msg
        border: 1px solid #f7be07
        background: #f9f0d5
        color: #f7be07

/*
 * State
 * Estado global do Layout
 */
input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=mounth], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color]
    height: 48px
    line-height: 48px
    padding: 0 16px
    background: #fff
    border: solid 1px #e5eef5
    border-radius: 4px
    box-shadow: none

/*
 * Theme
 * Customização de components ou layout, hacks !importants e etc
 */
/**
 * Components
 */
@import 'components/logo'
@import 'components/categories'
@import 'components/myaccount'
@import 'components/mycart'
@import 'components/header'
@import 'components/search'
@import 'components/contact-us'
@import 'components/prices'
@import 'components/rulers'
@import 'components/brands'
@import 'components/products'
@import 'components/banner'
@import 'components/newsletter'
@import 'components/about'
@import 'components/footer'
@import 'components/breadcrumb'
@import 'components/key'
// pages
@import 'pages/home'
@import 'pages/product'