
/**
 * Mixins
 */
icon(i)
    font-family: 'biz_icons'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    content: i

/**
 * Mixin - Font-weight
 */
font = 'Poppins', sans-serif
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
/**
 * Mixin - Viewport
 */
viewport = 980px
gap = 30px
/**
 * Mixin - Responsive
 * @media (max-width screen-sm-min)
 * @media (max-width screen-md-min)
 * @media (max-width screen-lg-min)
 */
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px