json('../../tokens.json')
data = json('../../tokens.json', { hash: true, leave-strings: true })

/**
 * Mixins
 */
icon(i)
    content: i
    text-transform: none
    font-weight: normal
    font-style: normal
    font-variant: normal
    font-family: 'biz_icons'
    speak: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased

/**
 * Mixin - Responsive
 */
screen-sm-max = (screen-sm - 1)
screen-md-max = (screen-md - 1)
screen-lg-max = (screen-lg - 1)

minw(w)
    return unquote('(min-width:' + w + ')')

maxw(w)
    return unquote('(max-width:' + w + ')')

media-min-sm = minw(screen-sm)
media-min-md = minw(screen-md)
media-min-lg = minw(screen-lg)
media-max-sm = maxw(screen-sm-max)
media-max-md = maxw(screen-md-max)
media-max-lg = maxw(screen-lg-max)

container()
    margin-right: auto
    margin-left: auto
    max-width: 'calc(100vw - %s)' % gap
    width: viewport

shadowBorder()
    @media media-min-lg
        box-shadow: 800px 0 0 @background, -800px 0 0 @background

    @media media-max-lg
        box-shadow: 290px 0 0 @background, -290px 0 0 @background

titleProduct()
    margin-bottom: 32px
    color: currentColor
    font-weight: bold
    font-size: 28px
    line-height: 24px

text()
    color: currentColor
    font-weight: regular
    font-size: 16px
    line-height: 20px

attr(property)
    for key, value in property
        {key}: unquote(value)