<h2 class="products__header">
    <a
        href="@url"
        itemprop="url"
        title="Mais detalhes"
        class="products__link products__link--image"
    >
        <span class="products__image product-image">@foto(260x260)</span>
    </a>
    @selos
</h2>
<div class="products__main">
    <a href="@url" title="@nome(60)" class="products__name">@nome</a>
    @variacoes @if(is_disponivel) @preco @preco(avista) @preco(parcelado)
    @else(is_disponivel)
    <div class="products__out">Produto Esgotado</div>
    @endif(is_disponivel)
    <div class="products__actions">
        @bt(comprar "Comprar")
    </div>
    <div class="key">
        <div class="key__header">
            <a href="/customer/account/login">
                <i class="fas fa-key"></i>
                <span class="key__link"
                    >Faça seu Login <span>para Comprar</span></span
                >
            </a>
        </div>
    </div>
</div>
