<div class="about">
    <div class="about__container">
        <div class="about__figure">
            <img src="@img(about)" alt="Petix" class="about__img" />
        </div>
        <div class="about__main">
            <h3 class="about__title">Sobre a Petix</h3>
            <div class="about__content">
                No início da década de 90, a família Haddad deu entrada no ramo
                de PetShops, foi naquela época que, o então adolescente Rogério
                Haddad se viu completamente envolvido pelo segmento e, começou a
                nutrir o sonho de fazer a diferença no mercado PET e poder
                contribuir ativamente pelo bem-estar dos animais. Mesmo após o
                ingresso no mercado financeiro, Rogério ainda cultivava o desejo
                de trabalhar com animais, mais precisamente desenvolvendo
                produtos que estreitassem ainda mais o elo de amor entre os
                animais e suas famílias e, em uma destas coincidências do
                destino, em uma conversa informal ele e mais dois colegas de
                trabalho descobriram duas paixões em comum: o amor pelos pets e
                o desejo de investir em um negócio próprio. Munidos com a
                expertise que a família Haddad conseguiu ao longo de quase duas
                décadas de mercado, aliada ao conhecimento profundo de
                desenvolvimento de negócios e relações comerciais
                internacionais, Rogério Haddad, Luiz Fernando Lourenço e Flávio
                Benedetti se uniram e, em 2007 a Petix foi fundada, com um único
                objetivo: promover bem-estar aos Pets e suas famílias...
            </div>
            <div class="about__actions">
                <a href="" class="about__link">Veja Mais</a>
            </div>
        </div>
    </div>
</div>
