<div class="banner-vitrine">
    <div class="banner-vitrine__container">
        <div class="banner-vitrine__item">
            <a href="#" class="banner-vitrine__link">
                <img src="@img(banner-vitrine-01)" alt="Banner Vitrine 01" />
            </a>
        </div>
        <div class="banner-vitrine__item">
            <a href="#" class="banner-vitrine__link">
                <img src="@img(banner-vitrine-02)" alt="Banner Vitrine 02" />
            </a>
        </div>
    </div>
</div>
