<div class="contact-us">
    <div class="contact-us__container">
        <div class="contact-us__header">
            <svg class="contact-us__ico">
                <use xlink:href="#zot-phone"></use>
            </svg>
            <span class="contact-us__label">Fale Conosco</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="contact-us__main">
            <h3 class="contact-us__title">
                Envie uma <strong>Mensagem</strong>
            </h3>
            <a
                class="contact-us__link contact-us__link--mail"
                href="mailto:contato@petix.com.br"
                class="contact-us__mail"
                >contato@petix.com.br</a
            >
            <div class="contact-us__phone">
                <div class="contact-us__number">(11) 97666-2155</div>
                <div class="contact-us__text">WHATSAPP PETIX</div>
            </div>
            <div class="contact-us__phone">
                <div class="contact-us__number">(11) 4800-1800 OU</div>
                <div class="contact-us__number">(11) 2219-0909</div>
            </div>
            <div class="contact-us__timer">
                SEGUNDA A SEXTA, <br />
                DAS 08H ÀS 18H
            </div>
        </div>
    </div>
</div>
