

<div class="footer__content">
    {{block type="menubuilder/output" identifier="menu-footer"}}
    {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="newsletter" texto="<h3>Receba nossas novidades</h3><p>Cadastre-se receba ofertas e lançamentos antes de todos.</p> " label_email="E-mail:" placeholder_email="Seu e-mail" texto_botao="Cadastrar" exibir_nome="1" label_nome="Nome:" placeholder_nome="Seu nome"}}
    {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="socials" titulo="Redes Sociais" redes="all"}}
</div>
<div class="footer__copyright">
    {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="25"}}
</div>