<div class="footer__row">
    <div class="footer__col">
        <div class="footer__contact">
            <h3 class="footer__title">Central de Atendimento</h3>
            <div class="tele">
                {{config path="general/store_information/phone"}}
            </div>
            <div class="horario">
                {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="horario-atendimento"}}
                <div class="email">
                    {{config path="trans_email/ident_general/email"}}
                </div>
                {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="endereco"}}
            </div>
        </div>
        <div class="footer__payments">
            <h3 class="footer__title">Formas de Pagamento</h3>
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="pagtos_footer" pagtos="all"}}
        </div>
    </div>
    <div class="footer__col">
        <div class="footer__menu">
            <h3 class="footer__title">Institucional</h3>
            {{block type="menubuilder/output" identifier="footer-institucional"}}
        </div>
        <div class="footer__menu">
            <h3 class="footer__title">Acesse sua Conta</h3>
            {{block type="menubuilder/output" identifier="footer-acesse-sua-conta"}}
        </div>
    </div>
    <div class="footer__col">
        <div class="footer__menu">
            <h3 class="footer__title">Categorias</h3>
            {{block type="menubuilder/output" identifier="footer-categoria"}}
        </div>
        <div class="footer__security">
            <h3 class="footer__title">Segurança</h3>
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="selos_footer" seals="all"}}
        </div>
    </div>
    <div class="footer__col">
        <div class="footer__menu">
            <h3 class="footer__title">Dúvidas</h3>
            {{block type="menubuilder/output" identifier="footer-duvidas"}}
        </div>
        <div class="footer__social">
            <h3 class="footer__title">Redes Sociais</h3>
            {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="perfis_footer"  redes="all"}}
        </div>
    </div>
</div>
<div class="footer__copyright">
    {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="footer-texto-2"}}
</div>
