<section class="block-blog">
    <div class="block-blog__container">
        <header class="block-blog__header">
            <h2 class="block-blog__title">Blog</h2>
        </header>
        <div class="block-blog__main">
            <div class="block-blog__list">
                <article class="block-blog__item">
                    <figure>
                        <img src="https://fakeimg.pl/360x200/" alt="Titulo Plubicação">
                    </figure>
                    <h3>Titulo Publicação</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    <a href="#">Leia mais</a>
                </article>

                <article class="block-blog__item">
                    <figure>
                        <img src="https://fakeimg.pl/360x200/" alt="Titulo Plubicação">
                    </figure>
                    <h3>Titulo Publicação</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    <a href="#">Leia mais</a>
                </article>

                <article class="block-blog__item">
                    <figure>
                        <img src="https://fakeimg.pl/360x200/" alt="Titulo Plubicação">
                    </figure>
                    <h3>Titulo Publicação</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    <a href="#">Leia mais</a>
                </article>
            </div>
        </div>
    </div>
</section>