<div class="rulers">
    <span class="rulers__icon">
        <svg class="ico z-card"><use xlink:href="#z-card" /></svg>
    </span>
    <span class="rulers__text">
        12x sem juros no cartão de crédito
    </span>
</div>

<div class="rulers">
    <span class="rulers__icon">
        <svg class="ico z-star"><use xlink:href="#z-star" /></svg>
    </span>
    <span class="rulers__text">
        Todos os produtos com garantia e Nfe
    </span>
</div>

<div class="rulers">
    <span class="rulers__icon">
        <svg class="ico z-truck"><use xlink:href="#z-truck" /></svg>
    </span>
    <span class="rulers__text">
        Frete Grátis em compras acima de R$ 300
    </span>
</div>