<div class="rulers">
    <div class="rulers__container">
        <div class="rulers__item">
            <svg class="rulers__icon rulers__icon--card">
                <use xlink:href="#zot-card"></use>
            </svg>
            <div class="rulers__label">
                Compre em até 3x sem juros no cartão
            </div>
        </div>
        <div class="rulers__item">
            <svg class="rulers__icon rulers__icon--discount">
                <use xlink:href="#zot-discount"></use>
            </svg>
            <div class="rulers__label">3% de desconto no pagamento à vista</div>
        </div>
        <div class="rulers__item">
            <svg class="rulers__icon rulers__icon--billet">
                <use xlink:href="#zot-billet"></use>
            </svg>
            <div class="rulers__label">
                Boleto a Prazo a partir da 2ª compra
            </div>
        </div>
        <div class="rulers__item">
            <svg class="rulers__icon rulers__icon--truck">
                <use xlink:href="#zot-truck"></use>
            </svg>
            <div class="rulers__label">Frete Grátis para todo o Brasil</div>
        </div>
    </div>
</div>
