
<dl class="tabs">
	<dt class="tabs__tab"><span>Descrição</span></dt>
	<dd class="tabs__content">
        <div class="std">@descricao</div>
	</dd>
    <div class="tabs__tab"><span>Descrição</span></div>
    <div class="tabs__content">
        <div class="tabs__table">
            <h2>Detalhes Técnicos</h2>
            <table class="data-table" id="product-attribute-specs-table">
            <colgroup><col width="25%">
            <col>
            </colgroup><tbody>
                        <tr class="first odd">
                    <th class="label">Acabamento</th>
                    <td class="data last">Fosco</td>
                </tr>
                        <tr class="even">
                    <th class="label">Durabilidade</th>
                    <td class="data last">Até 5 anos</td>
                </tr>
                        <tr class="odd">
                    <th class="label">Atributos</th>
                    <td class="data last">Alta cobertura</td>
                </tr>
                        <tr class="even">
                    <th class="label">Ambiente</th>
                    <td class="data last">Exterior, Interior</td>
                </tr>
                        <tr class="odd">
                    <th class="label">Antimofo</th>
                    <td class="data last">Baixa ação antimofo</td>
                </tr>
                        <tr class="even">
                    <th class="label">Aplicar com</th>
                    <td class="data last">Pincel, Pistola, Rolo, Trincha</td>
                </tr>
                        <tr class="odd">
                    <th class="label">Classificação</th>
                    <td class="data last">Standard</td>
                </tr>
                        <tr class="even">
                    <th class="label">Diluição</th>
                    <td class="data last">de 50% à 80% </td>
                </tr>
                        <tr class="odd">
                    <th class="label">Diluir com</th>
                    <td class="data last">Água</td>
                </tr>
                        <tr class="even">
                    <th class="label">Marca</th>
                    <td class="data last">Coral</td>
                </tr>
                        <tr class="odd">
                    <th class="label">Número de demãos</th>
                    <td class="data last">De 2 à 3 demãos</td>
                </tr>
                        <tr class="even">
                    <th class="label">Nível de odor</th>
                    <td class="data last">Baixo</td>
                </tr>
                        <tr class="last odd">
                    <th class="label">Rendimento</th>
                    <td class="data last">Até 500m²</td>
                </tr>
                    </tbody>
            </table>
        </div>
    </div>
</dl>

@avaliacoes(form)