<div class="prod__img">
    @fotos @compartilhar @selos
</div>
<div class="prod__shop">
    <div class="col">
        <div class="prod__name">
            <h1>@nome</h1>
            @marca
        </div>
        <div class="prod__short-desc std">@descricao(curta)</div>
        @if(is_disponivel) @preco @preco(avista) @preco(parcelado) @brinde
        @programa-fidelidade(Compre e Ganhe) @bt(comprar) @links
        @simulador-frete @else(is_disponivel)
        <div class="prod__esgotado">
            <div class="title title--sm">Produto Esgotado</div>
            @alertas
        </div>
        @endif(is_disponivel) @variacoes @bt(sobconsulta "Sob Consulta")
        @temporizador
    </div>
</div>
