<div class="prod__img">
    @fotos
    @selos
</div>
<div class="prod__shop">	
    <div class="col">
		<div class="prod__name">
			<h1>@nome</h1>
            @avaliacoes
			<small class="sku">Código: @atributo(sku)</small>
		</div>
        @if(is_disponivel)
            @variacoes
            @bt(sobconsulta "Sob Consulta")
            @temporizador

			@preco
			@preco(avista)
        
            @brinde
        
            @programa-fidelidade(Compre e Ganhe)
            @bt(comprar)
        	@links
            @simulador-frete
		@else(is_disponivel)		
			<div class="prod__esgotado">
				<div class="title title--sm">Produto Esgotado</div>
				@alertas
			</div>
		@endif(is_disponivel)
    </div>
</div>