color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #000000
color1_bg_hover = #3333
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #f8a7a5
color2_bg_hover = #e19795
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #18CA34
button_bg_hover = #129F28
// fonts
// Bold
be-vietnam-bold-woff = '/media/interface/files/bevietnampro-bold-webfont.woff'
be-vietnam-bold-woff2 = '/media/interface/files/bevietnampro-bold-webfont.woff2'
// light
be-vietnam-light-woff = '/media/interface/files/bevietnampro-light-webfont.woff'
be-vietnam-light-woff2 = '/media/interface/files/bevietnampro-light-webfont.woff2'
// medium
be-vietnam-medium-woff = '/media/interface/files/bevietnampro-medium-webfont.woff'
be-vietnam-medium-woff2 = '/media/interface/files/bevietnampro-medium-webfont.woff2'
// regular
be-vietnam-regular-woff = '/media/interface/files/bevietnampro-regular-webfont.woff'
be-vietnam-regular-woff2 = '/media/interface/files/bevietnampro-regular-webfont.woff2'
// semibold
be-vietnam-semibold-woff = '/media/interface/files/bevietnampro-semibold-webfont.woff'
be-vietnam-semibold-woff2 = '/media/interface/files/bevietnampro-semibold-webfont.woff2'
