color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #000000
color1_bg_hover = #3333
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #f8a7a5
color2_bg_hover = #e19795
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
