color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #000000
color1_bg_hover = #CA213E
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #4D4D4D
color2_bg_hover = #333333
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
