color1_font = unquote('@color(1)')
color1_font_hover = unquote('@color(1:hover)')
color1_bg = unquote('@bg(1)')
color1_bg_hover = unquote('@bg(1:hover)')
color2_font = unquote('@color(2)')
color2_font_hover = unquote('@color(1:hover)')
color2_bg = unquote('@bg(2)')
color2_bg_hover = unquote('@bg(2:hover)')
color3_font = unquote('@color(3)')
color3_font_hover = unquote('@color(3:hover)')
color3_bg = unquote('@bg(3)')
color3_bg_hover = unquote('@bg(3:hover)')
button_font = unquote('@button(color)')
button_font_hover = unquote('@button(color:hover)')
button_bg = unquote('@button(bg)')
button_bg_hover = unquote('@button(bg:hover)')
// fonts
// Bold
be-vietnam-bold-woff = unquote('@file(be-vietnam-bold-woff)')
be-vietnam-bold-woff2 = unquote('@file(be-vietnam-bold-woff2)')
// light
be-vietnam-light-woff = unquote('@file(be-vietnam-light-woff)')
be-vietnam-light-woff2 = unquote('@file(be-vietnam-light-woff2)')
// medium
be-vietnam-medium-woff = unquote('@file(be-vietnam-medium-woff)')
be-vietnam-medium-woff2 = unquote('@file(be-vietnam-medium-woff2)')
// regular
be-vietnam-regular-woff = unquote('@file(be-vietnam-regular-woff)')
be-vietnam-regular-woff2 = unquote('@file(be-vietnam-regular-woff2)')
// semibold
be-vietnam-semibold-woff = unquote('@file(be-vietnam-semibold-woff)')
be-vietnam-semibold-woff2 = unquote('@file(be-vietnam-semibold-woff2)')
