/*
 * Global
 * Elementos globais que podem ser extendidos ao longo do documento
 */
.container
    container()

:root
    --primary: color1_bg
    --primary-hover: color1_bg_hover
    --primary-contrast: color1_font
    --primary-contrast-hover: color1_font_hover
    --secundary: color2_bg
    --secundary-hover: color2_bg_hover
    --secundary-contrast: color2_font
    --secundary-contrast-hover: color2_font_hover
    --tertiary: color3_bg
    --tertiary-hover: color3_bg_hover
    --tertiary-contrast: color3_font
    --tertiary-contrast-hover: color3_font_hover
    --button: button_bg
    --button-hover: button_bg_hover
    --button-contrast: button_font
    --button-contrast-hover: button_font_hover
    // Socials
    --youtube: #cc0404
    --facebook: #1A77CD
    --twitter: #00aced
    --pinterest: #cb2027
    --thumblr: #32506d
    --linkedin: #007bb5
    --instagram: #e4405f

// Fonts
@font-face
    font-weight: bold
    font-style: normal
    font-family: 'Be-Vietnam'
    src: url(be-vietnam-bold-woff2) format('woff2'), url(be-vietnam-bold-woff) format('woff')

@font-face
    font-weight: light
    font-style: normal
    font-family: 'Be-Vietnam'
    src: url(be-vietnam-light-woff2) format('woff2'), url(be-vietnam-light-woff) format('woff')

@font-face
    font-weight: medium
    font-style: normal
    font-family: 'Be-Vietnam'
    src: url(be-vietnam-medium-woff2) format('woff2'), url(be-vietnam-medium-woff) format('woff')

@font-face
    font-weight: regular
    font-style: normal
    font-family: 'Be-Vietnam'
    src: url(be-vietnam-regular-woff2) format('woff2'), url(be-vietnam-regular-woff) format('woff')

@font-face
    font-weight: semibold
    font-style: normal
    font-family: 'Be-Vietnam'
    src: url(be-vietnam-semibold-woff2) format('woff2'), url(be-vietnam-semibold-woff) format('woff')

/*
 * Base
 * Estilo base do elementos do Html
 */
body
    font-family: font

    > *
        flex: 0 0 auto
        min-height: 0

.wrapper-container
    overflow: visible

.js-stickybit-parent
    padding-top: 140px

/*
 * Components
 * Componentes que se adaptam ao contexto
 */
/*
 * Component - Menssagens
 */
.messages
    > li
        display: block
        margin-bottom: 20px
        padding: 10px 20px
        font-size: 14px

    .success-msg
        border: 1px solid #2baf60
        background: #c8efc0
        color: #1d904b

    .error-msg
        border: 1px solid #d92100
        background: #ffdcdc
        color: #d92100

    .notice-msg
        border: 1px solid #f7be07
        background: #f9f0d5
        color: #f7be07

// Container
.wrapper
    display: flex
    flex-flow: column nowrap

    &, &-container
        min-height: calc(100vh - 48px)

.header, .main-container, .main, .footer, .col-main
    container()

.header-container, .footer-container
    flex: 0 0 auto
    min-height: 0

.main-container
    flex: 1
    min-height: 0

    @media (max-width: (viewport + 110px))
        overflow: hidden
        max-width: 100%

.footer-container
    @media (max-width: (viewport + 110px))
        overflow: hidden
        max-width: 100%

.main
    margin: 0 auto
    gap: gap

.col-left
    flex: 0 1 225px
    margin: 0
    padding: 0
    min-width: 0
    max-width: none

.col-main
    flex: 1
    padding: 0
    min-width: 0
    width: max-content

.categories .ul--0
    max-width: viewport

.wrapper
    svg
        fill: currentColor

.ias-noneleft
    display: none !important