/*
 * Global
 * Elementos globais que podem ser extendidos ao longo do documento
 */
.container
    min-width: 0
    max-width: viewport
    margin: 0 auto
    width: auto

/*
 * Base
 * Estilo base do elementos do Html
 */
body
    font-family: font

.wrapper-container
    overflow: visible

.js-stickybit-parent
    padding-top: 140px

/*
 * Components
 * Componentes que se adaptam ao contexto
 */
/*
 * Component - Menssagens
 */
.messages
    > li
        display: block
        padding: 10px 20px
        margin-bottom: 20px
        font-size: 14px

    .success-msg
        border: 1px solid #2baf60
        background: #c8efc0
        color: #1d904b

    .error-msg
        border: 1px solid #d92100
        background: #ffdcdc
        color: #d92100

    .notice-msg
        border: 1px solid #f7be07
        background: #f9f0d5
        color: #f7be07