.add-to-links
    padding-bottom: 20px

    li:not('.link-wishlist')
        display: none

    .link-wishlist
        max-width: 100%
        width: 265px

        a
            display: flex
            justify-content: center
            align-items: center
            color: var(--color)
            font-weight: regular
            font-size: 12px

        .ico
            margin-top: -2px
            margin-right: 5px
            width: 11px
            height: 20px
            fill: var(--primary)