.banner-vitrine
    width: viewport
    max-width: 100%
    margin: 0 auto

    &__container
        margin: -10px

    &__item
        padding: 10px

        img
            width: 100%

    &__link
        display: block

@media (min-width: 500px)
    .banner-vitrine
        &__container
            display: flex