.breadcrumb
    &__home
        .breadcrumb__link:before
            display: none

    &__link
        font-size: 14px
        font-weight: bold
        color: #a7a7a7

    &__last
        font-size: 14px
        font-weight: bold
        color: color2_bg

    &__sep
        span
            display: none

        &:before
            content: '\f35a'
            font-family: 'Font Awesome 5 Pro'
            font-weight: 900
            color: color1_bg
            font-size: 15px