.breadcrumb
    --color: #848687

    &__home .breadcrumb__link:before
        display: none

    &__link
        color: var(--color)
        font-weight: medium
        font-size: 14px

    &__last
        color: var(--primary)
        font-weight: medium
        font-size: 14px

    &__sep
        color: var(--primary)

        span
            display: none

        &:before
            content: '•'