.configurable
    &:before
        display: none

    label
        color: var(--primary)
        font-weight: medium
        font-size: 14px

    &-swatch-list a
        border-radius: var(--border-radius)
        box-shadow: 0 0 0 1px var(--color-border)
        color: var(--color-text)
        font-weight: medium
        font-size: 14px