.header
    max-width: viewport
    padding: 0 10px 0 0

    &-container
        background: #fff

@media (min-width: 569px)
    .header
        padding: 16px 10px 0 0

@media (min-width: 992px)
    .header
        padding: 16px 16px 0

@media (min-width: (viewport + 32))
    .header
        padding: 16px 0 0