.header
    height: 90px
    color: var(--primary-contrast)
    gap: gap

    &-container
        position: sticky
        top: 0
        background: var(--primary)

    .mycart
        margin-right: 8px