.logo
    flex: 1
    min-width: 90px

    .header &
        img, svg
            height: 48px
            max-width: 150px

@media (min-width: 569px)
    .logo
        flex: 0 0 auto

        .has-m-img .m-img
            height: auto
            width: 100%
