.mymenu
    .no-link > a
        pointer-events: none

    .footer &
        .a--0
            color: currentColor
            font-weight: bold
            font-size: 16px

        .a--1
            color: currentColor
            font-weight: regular
            font-size: 14px

        .li--0, .li--1
            margin-bottom: 12px

        .ul--1
            margin-top: 12px

        .ul--0
            @media media-min-sm
                display: flex
                justify-content: space-between
                gap: gap