.newsletter
    .input-text
        height: 40px
        border-radius: radius
        background: #3E3E3E
        color: white
        font-weight: regular
        font-size: 12px

        &::placeholder
            color: #AAAAAA

        &:focus::placeholder
            color: transparent

    &__text
        flex: 0 0 100%
        min-width: 0

        &.std
            color: currentColor

            h3
                color: currentColor
                font-weight: bold
                font-size: 16px

            p
                color: currentColor
                font-weight: regular
                font-size: 14px

    &__form
        display: flex
        flex-flow: row wrap
        align-items: stretch
        gap: 12px 0

    &__name, &__email, &__submit
        position: relative
        min-width: 1px

    &__name
        flex: 0 0 100%

        @media media-min-lg
            flex: 1
            padding-right: 12px

    &__email
        flex: 1

        @media media-min-lg
            flex: 0 1 235px

    &__submit
        z-index: 2
        flex: 0 1 100px
        padding: 1px 0

    &__btn
        margin-left: -5px
        width: calc(100% + 5px)
        height: 100%
        border-radius: radius
        background: var(--button)
        color: var(--button-contrast)
        font-weight: bold
        font-size: 12px