.old-price
    .label
        display: none

    .price span
        &:before
            content: 'De '

        &:after
            content: ' ou '

    .label, .price
        span
            font-size: 14px
            font-weight: semibold
            color: #a9b0b6

.regular-price, .special-price
    .label
        display: none

    .price span:before
        content: 'Por '

    .label, .price
        span
            font-size: 17px
            font-weight: semibold
            color: color1_bg

.preco-parcelado-sem-juros
    + .preco-parcelado
        display: none

.price-box-avista
    display: flex
    justify-content: center
    aling-items: center

    .price
        flex: 0
        order: -1

    .label
        margin-left: 4px

    .price, .label
        font-size: 16px
        font-weight: semibold
        color: color1_bg

.price-box-parcelado
    font-size: 12px
    font-weight: medium
    text-align: center
    color: #a9b0b6
    line-height: 1

    > div
        display: inline-block
        margin-bottom: 0
        background: #f5f5f5
        padding: 10px 10px
        border-radius: 35px

    .num, .value
        span
            color: color2_bg !important
            font-weight: medium !important
