.products
    padding-bottom: 40px

    .cms-home .main &#product--offer
        width: 100%
        background: color1_bg

        .products
            &__list, &__title
                width: viewport
                max-width: 100%
                margin: 0 auto

            &__title
                color: color2_bg

                strong
                    color: #fff

    &__header
        padding-bottom: 20px

    &__title
        padding: 25px 0
        font-size: 20px
        font-weight: semibold
        color: color1_bg

        strong
            font-weight: semibold
            color: color2_bg

    &__case
        display: flex
        box-shadow: none

    &__main
        text-align: center

    &__name
        display: block
        font-size: 14px
        font-weight: semibold
        line-height: 1.3
        color: color1_bg
        padding-bottom: 10px

        &:hover
            color: color1_bg

    .btn-cart
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        padding: 0
        height: 40px
        width: 150px
        border-radius: 40px
        font-size: 13px
        font-weight: semibold
        background: #12a000
        color: #fff
        border: 0
        box-shadow: none

    .owl-prev, .owl-next
        box-shadow: none

        &:hover
            background: color2_bg

            &:before
                background: color2_bg

        &:before
            font-size: 9px

    .owl-next
        left: auto
        right: -53px

    &__actions
        display: none

        .user-logged &
            display: block

@media (min-width: 993px)
    .products
        .owl-pagination
            display: none

        &__actions
            opacity: 0
            transform: translateY(20%)
            transition: all 0.2s ease

        &__case
            transition: all 0.2s ease
            padding: 15px 30px
            border-radius: 4px

            &:hover
                box-shadow: inset 0 0 0 1px #e5eef5

                .products__actions
                    opacity: 1
                    transform: translateY(0)