.rulers
    background: #f5f5f5
    margin: -16px -16px 0
    padding: 16px 0

    &__container
        display: flex
        justify-content: space-between
        width: viewport
        max-width: 100%
        margin: 0 auto

    &__icon
        flex: 0 0 30px
        width: 30px
        height: 30px

    &__label
        font-size: 13px
        font-weight: semibold
        color: color1_bg

    &__item
        display: flex
        justify-content: space-between
        align-items: center
        flex-flow: column nowrap
        height: 60px
        width: 100%
