#banner__ruler
    font-size: 10px
    font-weight: semi-bold
    background: color1_bg
    color: #fff

    .banner
        &__wrapper
            width: viewport !important
            max-width: calc(100% - 32px)
            margin: 0 auto