.sharing-links
    .list:before
        color: var(--color)
        content: 'Compartilhe: '
        font-weight: medium
        font-size: 20px
        font-size: 12px
        opacity: 1

    a
        background: none
        color: var(--primary)

        .ico
            width: 20px
            height: 20px
            fill: currentColor

    .fb-share
        .ico
            padding: 3px 0 0
            border-radius: 50%
            background: var(--primary)

            &, path
                fill: var(--primary-contrast) !important
