.category-title
    display: none

.category-image
    img
        width: 100%
        height: auto
        object-fit: cover

    .col-main &
        display: none

.catalog-category-view
    #banner__reguadevantagens
        margin: 10px auto 30px