.sharing-links
    &:before
        content: 'Compartilhe'
        display: block
        font-size: 13px
        font-weight: semibold
        color: color2_bg
        padding-bottom: 10px

    li
        flex: 0 0 auto
        margin-right: 10px

    a
        width: 18px
        height: 18px

    .list
        justify-content: flex-start

        &:before
            display: none

    .ico
        width: 10px
        height: 10px

.related__subtitle, .related__add-checkbox
    display: none

.related__title
    font-size: 0

    &:before, &:after
        font-size: 20px
        font-weight: semibold

    &:before
        content: 'Produtos '
        color: color2_bg

    &:after
        content: 'Relacionados'
        color: color1_bg

.product-image-gallery
    box-shadow: none

.product-image-thumbs
    .thumb-link
        box-shadow: 0 0 0 1px #e5eef5

        &:hover, &.on
            box-shadow: 0 0 0 1px #00bcf2

.add-to-links
    .link-compare
        display: none

    .link-wishlist a
        display: flex
        justify-content: center
        align-items: center
        width: 200px
        height: 34px
        margin: 0
        border: 0 !important
        border-radius: 34px
        padding: 0
        font-size: 8px
        font-weight: regular
        text-transform: uppercase
        background: color2_bg
        color: color1_bg

        &:after
            display: none

.frete
    margin: 20px 0

    &__title
        height: 34px
        margin: 0
        border: 0
        padding: 0
        font-size: 16px
        font-weight: semibold
        color: color1_bg
        justify-content: flex-start

        &:after
            content: 'Calcule o Envio'

        .ico, span
            display: none

        &:hover
            background: none
            color: color1_bg

    &__icon
        width: 28px
        height: 23px
        margin-right: 8px

    &__form
        .img-truck
            display: none

        .input-text
            height: 44px

.prod
    &__name
        h1
            font-size: 28px
            font-weight: semibold
            color: color1_bg
            padding-bottom: 10px

    &__short-desc
        display: block
        padding: 15px 0
        font-size: 13px
        font-weight: semibold
        line-height: 1.3
        color: #5f5f5f

    &__shop
        .price-box-avista
            justify-content: flex-start
            text-align: left

        .price-box-parcelado
            text-align: left

        .add-to-cart-btn
            height: 50px
            width: 195px
            line-height: 50px
            background: #12a000
            color: #fff
            border: 0
            border-radius: 50px
            font-size: 15px
            font-weight: semibold

        .qty-wrapper
            left: 3px

            input
                width: 63px
                height: 44px
                border: 0
                border-radius: 44px
                box-shadow: none
                background: #1c7d10

            .bt-box
                position: static
                padding: 0
                background: none
                transform: none

                .plus, .less
                    display: flex
                    justify-content: center
                    align-items: center
                    position: absolute
                    top: 0
                    height: 100%
                    border-radius: 0
                    background: none
                    color: #fff
                    padding: 0 9px

                    &:before
                        display: none

                .plus
                    right: 0

                    &:after
                        content: '\f067'
                        font-family: 'Font Awesome 5 Pro'
                        font-size: 10px
                        font-weight: 900

                .less
                    left: 0

                    &:after
                        content: '\f068'
                        font-family: 'Font Awesome 5 Pro'
                        font-size: 10px
                        font-weight: 900

    &__description
        background: #f5f5f5
        box-shadow: 200px 0 0 #f5f5f5, -200px 0 0 #f5f5f5
        padding-bottom: 35px

        .prod__title
            padding: 35px 0
            font-size: 16px
            font-weight: semibold
            color: color1_bg

        .std
            font-size: 13px
            font-weight: regular
            color: #5f5f5f

.catalog-product-view
    .main-container
        padding: 0 16px

@media (min-width: 500px)
    .prod
        &__description
            background: #f5f5f5
            box-shadow: 400px 0 0 #f5f5f5, -400px 0 0 #f5f5f5

@media (min-width: 993px)
    .prod
        &__img
            position: relative
            flex: 0 0 45%

        &__description
            background: #f5f5f5
            box-shadow: 800px 0 0 #f5f5f5, -800px 0 0 #f5f5f5

    .frete
        position: relative
        display: flex
        align-items: center
        flex-flow: row wrap

        &__results
            position: absolute
            top: 100%
            left: 0
            flex: 0 0 100%
            width: 100%
            margin-top: 20px
            border: solid 1px #e5eef5
            border-radius: 4px
            box-shadow: none
            color: color1_bg

            .title
                font-size: 16px
                font-weight: bold
                text-transform: uppercase
                color: color1_bg

            .demo
                color: color1_bg

        &__close
            top: 10px
            right: 10px
            padding: 0
            display: flex
            justify-content: center
            align-items: center
            font-size: 8px
            width: 16px
            height: 16px
            border-radius: 50%
            background: color2_bg
            color: #fff

        &__title
            box-shadow: none
            margin-right: 10px

        &__content
            display: flex
            justify-content: flex-start
            align-items: center
            max-width: calc(100% - 162px)

        &__naosei
            color: #a7a7a7
            font-size: 12px
            font-weight: regular
            padding-left: 13px

        &__form
            display: flex
            border: solid 1px #e5eef5
            border-radius: 40px
            max-width: 230px

            .cep
                display: none

            .input-box
                flex: 1
                min-width: 0
                border-radius: 40px
                overflow: hidden

            .input-text
                height: 40px
                line-heihgt: 40px
                border: 0
                flex: 1
                min-width: 0

        &__actions
            .btn
                font-size: 14px
                font-weight: semibold
                color: color1_bg
                background: none
                box-shadow: none

                &:before
                    content: 'Calcular'

                span
                    display: none

    .more-views
        max-width: calc(100% - 250px)

    .sharing-links
        position: absolute
        right: 0
        bottom: 25px

@media (min-width: (viewport + 32px))
    .catalog-product-view
        .main-container
            padding: 0

.add-to-links, .frete
    display: none

    .user-logged &
        display: block
